upstream ookla_8080 { server {{ inst.name }}_ookla:8080; }
upstream ookla_5060 { server {{ inst.name }}_ookla:5060; }

server {
  listen 80;
  listen [::]:80;
  server_name {{ inst.fqdn }};

  location = /healthz { return 200 "ok\n"; }

  location ^~ /.well-known/acme-challenge/ {
    root /var/www/certbot;
    try_files $uri =404;
  }

  location / {
    proxy_set_header Host $host;
    proxy_pass http://ookla_8080;
  }
}

server {
  listen 8080;
  listen [::]:8080;
  server_name {{ inst.fqdn }};
  location / { proxy_pass http://ookla_8080; }
}

server {
  listen 5060;
  listen [::]:5060;
  server_name {{ inst.fqdn }};
  location / { proxy_pass http://ookla_5060; }
}

{% if global.tls_enabled %}
server {
  listen 443 ssl http2;
  listen [::]:443 ssl http2;
  server_name {{ inst.fqdn }};

  ssl_certificate     /etc/letsencrypt/live/{{ inst.fqdn }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ inst.fqdn }}/privkey.pem;

  location / { proxy_pass http://ookla_8080; }
}
{% endif %}
